@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import "custom";
@import "bootstrap";
@import "ideas";

h1 { color: $danger; }

body {
    background-image:url('http://www.myfreetextures.com/wp-content/uploads/2014/10/old-parchment-paper-with-flowers.jpg');
    background-size: cover;
}

