// Place all the styles related to the ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
    border: 9px dotted pink;
    padding: 10px;
    margin: 10px;
}


.name-column {
    font-weight: bold;
    text-decoration: fade-out($color: #000000, $amount: 1);
    text-transform: uppercase;
}