// Place all the styles related to the ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


table {
  border: 3px dotted pink;
}

#notice {
  color: pink
}
.name-column{
  font-weight: bold;
  font-size: 16px;
}

.description-column{
  font-style: italic;
  font-weight:lighter;
  font-size: 11px;
  font-kerning: 14px;

}
